.profile-main-container{
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  display: block;
  overflow: hidden;
}
.profile-nav-container{
  box-sizing: border-box;
  width: 100%;
  height: 12%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.profile-body-container{
  box-sizing: border-box;
  height: 88%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  overflow: hidden;
}

.create-workout-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
  background-color: #FFFFFF;
}
.prev-sessions-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
  overflow: hidden;
  background-color: #FFFFFF;
}
.profile-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  border-bottom: 3px solid #1A7E79;
  /* border-bottom: 3px solid #FFFFFF; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  cursor: default;
  overflow: hidden;
  background-color: #FFFFFF;
}
#create-workout{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 15px;
  /* color: #107E79; */
  font-weight: bold;
  color: #B3B8BF;
  cursor: pointer;
  /* pointer-events: auto; */
  /* background-color: #8D9499; */
}
#prev-sessions{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  /* color: #107E79; */
  color: #B3B8BF;
  cursor: pointer;
  /* background-color: #8D9499; */
}
#profile{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #107E79;
  /* color: #B3B8BF; */
  cursor: default;

  /* background-color: #8D9499; */
}
.profile-body-container-top{
  box-sizing: border-box;
  height: 87%;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;
  display: block;
  /* box-sizing: content-box; */
  /* padding-right: 15px; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  /* align-items: center; */
  overflow-x: visible;
  overflow-y: scroll;
  /* background-color: blue; */
}
.cancel-section{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cancel{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #0645AD;
  font-size: 17px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.edit-profile-header-container{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.edit-profile-header{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  /* font-family: 'Montserrat', Arial, sans-serif; */
  font-size: 20px;
  text-align: center;
  /* color: #9A9FA6; */
  color: #9A9FA6;
  /* color: #B3B8BF; */
}
.edit-profile-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  display: block;
  overflow: hidden;
}
#username-input{
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 7px;
  overflow: hidden;
}
#age-input{
  box-sizing: border-box;
  height: 35px;
  width: 30%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 7px;
  overflow: hidden;
}

#gender-input-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.gender-input-container-inner{
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-right: 3px; */
}
#gender-input-container-left{

}
#gender-input-container-right{

}
.gender-button-header{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  /* color: #B3B8BF; */
  color: #B1B4BA;
  padding-right: 8px;
}
.gender-input-button-container{
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #C3C3C3;
}
#male-button{
  box-sizing: border-box;
  height: 60%;
  width: 60%;
}
#female-button{
  box-sizing: border-box;
  height: 60%;
  width: 60%;
}

.timezone-input-container{
  box-sizing: border-box;
  height: 130px;
  width: 100%;
  border: 1px solid #C3C3C3;
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timezone-input-container-left{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}
.timezone-input-container-right{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: blue; */
}
.timezone-input-container-inner{
  box-sizing: border-box;
  height: 35px;
  width: 80%;
  /* background-color: blue; */
}

.profile-body-conatiner-button{
  width: 100%;
  height: 13%;
  background-color: #107E79;
  border-top: 1px solid #AFAFAF;
  opacity: 0.4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#save-changes{
  box-sizing: border-box;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
#hidden_profile_form{
  display: none;
}
