/* Main Container for Gateway */
.gateway-main{
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  display: block;
}




/* Gateway Nav Elements ******************************************************/
.gateway-nav{
  box-sizing: border-box;
  width: 100%;
  height: 12%;
  display: flex;
  flex-wrap: nowrap;
}
.gateway-nav-space-filler{
  box-sizing: border-box;
  width: 2%;
}


/* Gateway Nav Login Elements */
.gateway-nav-login{
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  border-bottom: 3px solid #1A7E79;
  /* border-bottom: 3px solid #FFFFFF; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#gateway-login{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #107E79;
  /* color: #B3B8BF; */
  /* cursor: default; */
}

/* Gateway Nav Register Elements */
.gateway-nav-register{
  box-sizing: border-box;
  height: 100%;
  width: 27%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
#gateway-register{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  /* color: #107E79; */
  color: #B3B8BF;
  /* cursor: default; */
}

/* Gateway Nav Forgot Password Elements */
.gateway-nav-forgot-password{
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
#gateway-forgot-password{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  /* color: #107E79; */
  color: #B3B8BF;
  /* cursor: default; */
}







/* Gateway Form Elements ************************************************/
.gateway-form{
  box-sizing: border-box;
  width: 100%;
  height: 88%;
  display: block;
  overflow: hidden;
}



/* Gateway Form Login Elements */
.gateway-login-form-container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}
.gateway-login-form-top{
  box-sizing: border-box;
  width: 100%;
  height: 84%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.gateway-login-form-top-outer{
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  display: block;
}
.gateway-login-form-top-outer-top{
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#login-quote{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #3C446B;
  cursor: default;
}
#login-quote-span{
  font-size: 18px;
  font-weight: bold;
}
.gateway-login-form-top-outer-top-spacer{
  box-sizing: border-box;
  height: 12%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#logged_in_error{
  box-sizing: border-box;
  display: none;
  margin: 0;
  padding-top: 2px;
  text-align: center;
  color: #FC0D1B;
  font-size: 11px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-weight: bold;
}
.gateway-login-form-top-outer-bottom{
  box-sizing: border-box;
  width: 100%;
  height: 58%;
  display: block;
}
#login-form{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}
.login-form-email-container{
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  display: block;
  overflow: hidden;
}
.login-form-email-error-container{
  box-sizing: border-box;
  width: 100%;
  height: 35%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#login-form-email-error-message{
  box-sizing: border-box;
  margin: 0px;
  padding-top: 8px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 14px;
  display: none;
  color: #FC0D1B;
}
.login-form-email-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 65%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
}
#login-form-email-input{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
}
#login-form-email-input::placeholder{
  color: #B3B8BF;
}

.login-form-password-container{
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  display: block;
  overflow: hidden;
  outline: none;
}
.login-form-password-error-container{
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#login-form-password-error-message{
  box-sizing: border-box;
  margin: 0px;
  padding-top: 8px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 14px;
  display: none;
  color: #FC0D1B;
}
.login-form-password-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
}
#login-form-password-input{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  /* color: #B3B8BF; */
}
#login-form-password-input::placeholder{
  color: #B3B8BF;
}
.gateway-login-form-button{
  box-sizing: border-box;
  width: 100%;
  height: 16%;
  background-color: #107E79;
  border-top: 1px solid #AFAFAF;
  opacity: 0.4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#sign-in{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
.hidden_loggin_form{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 0px;
  width: 0px;
  display: none;
}




/* Gateway Form Register Elements */
.gateway-register-form-container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}
.gateway-register-form-container-1{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.gateway-register-form-container-1-top{
  box-sizing: border-box;
  width: 100%;
  height: 84%;
  overflow: visible;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}
.gateway-register-form-container-1-top-outer{
  box-sizing: content-box;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: visible;
  overflow-y: scroll;
}
.register-form-header-info-container{
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#register-form-header-info{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #3C446B;
}
.register-form-error-container{
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding-bottom: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.register-form-error-message{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 12px;
  color: #FC0D1B;
  display: none;
}
#register-form-username-input{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-username-input::placeholder{
  color: #B3B8BF;
}
#register-form-email-input{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-email-input::placeholder{
  color: #B3B8BF;
}
.register-form-password-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  overflow: hidden;
}
#register-form-password-input{
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-password-input::placeholder{
  color: #B3B8BF;
}
.register-form-password-input-eye-container{
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  border-top: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
}
#password-show{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.4;
  pointer-events: auto;
}
#password-hide{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.4;
  pointer-events: auto;
}
#register-form-age-input{
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-age-input::placeholder{
  color: #B3B8BF;
}
#register-form-height-ft-input{
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-height-ft-input::placeholder{
  color: #B3B8BF;
}
#register-form-height-in-input{
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #C3C3C3;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 7px;
  overflow: hidden;
}
#register-form-height-in-input::placeholder{
  color: #B3B8BF;
}
.register-form-gender-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.register-form-gender-input-container-left{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.register-form-gender-input-male-header{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#male-header{
  box-sizing: border-box;
  padding: 0px;
  padding-left: 7px;
  padding-right: 10px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 20px;
  color: #9A9FA6;
}
.register-form-gender-input-male-button-container{
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #C3C3C3;

}
#male-button{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}

.register-form-gender-input-container-right{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.register-form-gender-input-female-header{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#female-header{
  box-sizing: border-box;
  padding: 0px;
  padding-right: 10px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 20px;
  color: #9A9FA6;
}
.register-form-gender-input-female-button-container{
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #C3C3C3;
}
#female-button{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}
.register-form-timezone-gender-spacer{
  box-sizing: border-box;
  width: 100%;
  height: 20px;
}
.register-form-timezone-header-container{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#register-form-timezone-header{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #9A9FA6;
}
.register-form-timezone-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 162px;
  padding: 5px;
  border: 1px solid #C3C3C3;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

}
.timezone-button-container{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #C3C3C3;
}
.timzone-header{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 18px;
  color: #B3B8BF;
}
.timezone-button{
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.register-form-timezone-input-container-left{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: block;
  padding-right: 25px;
}
.timezone-input-container-left{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.register-form-timezone-input-container-right{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: block;
  padding-left: 0px;
  padding-right: 7px;
}
.timezone-input-container-right{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.register-form-experience-header-container{
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#register-form-experience-header{
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #9A9FA6;
}
.register-form-experience-timezone-spacer{
  box-sizing: border-box;
  width: 100%;
  height: 25px;
}
.experience-header-container{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.experience-header{
  box-sizing: border-box;
  padding: 0px;
  padding-top: 15px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #9A9FA6;
}
.experience-input-container{
  box-sizing: border-box;
  width: 100%;
  height: 112px;
  padding: 5px;
  border: 1px solid #C3C3C3;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.experience-input-container-left{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: block;
  padding-right: 25px;
}
.experience-input-container-cell-left{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.experience-input-container-right{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: block;
  padding-left: 0px;
  padding-right: 7px;
}
.experience-input-container-cell-right{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.experience-input-header{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, 'Montserrat', sans-serif;
  font-size: 16px;
  color: #B3B8BF;
}
.experience-input-button-container{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #C3C3C3;
}
.experience-input-button{
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.register-form-bottom-spacer{
  box-sizing: border-box;
  width: 100%;
  height: 13px;
}

.gateway-register-form-container-1-button{
  box-sizing: border-box;
  width: 100%;
  height: 16%;
  background-color: #107E79;
  border-top: 1px solid #AFAFAF;
  opacity: 0.4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#sign-up{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
.hidden_register_form{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 0px;
  width: 0px;
  display: none;
}



/* Gateway Form Forgot Password Elements */
.gateway-forgot-password-form-container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: yellow;
}






/* figure out the user select stuff and all the mobile front end stuff */
/* -webkit-touch-callout:none; */
/* -webkit-user-select:none; */
/* -khtml-user-select:none; */
/* -moz-user-select:none; */
/* -ms-user-select:none; */
/* user-select:none; */
/* -webkit-tap-highlight-color:rgba(0,0,0,0); */


/* Also figure out the best way to do cursor hovering */
