
.homepage-main-container{
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  display: block;
  overflow: hidden;
}
.homepage-nav-container{
  box-sizing: border-box;
  width: 100%;
  height: 12%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.homepage-body-container{
  box-sizing: border-box;
  height: 88%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  overflow: hidden;
}

.create-workout-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  border-bottom: 3px solid #1A7E79;
  /* border-bottom: 3px solid #FFFFFF; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
  pointer-events: none;
  overflow: hidden;
  background-color: #FFFFFF;
}
.prev-sessions-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
  overflow: hidden;
  background-color: #FFFFFF;
}
.profile-tab{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  /* border-bottom: 3px solid #1A7E79; */
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
  overflow: hidden;
  background-color: #FFFFFF;
}
#create-workout{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #107E79;
  font-weight: bold;
  /* color: #B3B8BF; */
  cursor: default;
  pointer-events: none;
  /* background-color: #8D9499; */
}
#prev-sessions{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  /* color: #107E79; */
  color: #B3B8BF;
  cursor: pointer;
  /* background-color: #8D9499; */
}
#profile{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  /* color: #107E79; */
  color: #B3B8BF;
  cursor: pointer;
  /* background-color: #8D9499; */
}


.homepage-body-container-top{
  box-sizing: border-box;
  height: 87%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: blue; */
}
.homepage-body-conatiner-button{
  width: 100%;
  height: 13%;
  background-color: #107E79;
  border-top: 1px solid #AFAFAF;
  opacity: 0.4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#get-started{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
