{% extends 'layout.html' %}
{% block head %}
{% endblock %}
<!-- <h1>{{ email }}</h1>
<h1>{{ username }}</h1>
<div class="logout-button">
  log out
</div> -->
{% block body %}
<h1>{{ email }}</h1>
<h1>{{ username }}</h1>
<form class="logout-form" action="/logout" method="post">
  <button type="button" name="button" id="logout-button">log out</button>
</form>
<script type="text/javascript">
  $('#logout-button').on('click', function(){
    $('.logout-form').submit()
  });
</script>
{% endblock %}
