{% extends 'layout.html' %}
{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block body %}
<div class="homepage-main-container">
  <div class="homepage-nav-container">
    <div class="create-workout-tab">
      <p id="create-workout">Create Workout</p>
    </div>
    <div class="prev-sessions-tab">
      <p id="prev-sessions">Prev. Sessions</p>
    </div>
    <div class="profile-tab">
      <p id="profile">Profile</p>
    </div>
  </div>
  <div class="homepage-body-container">
    <div class="homepage-body-container-top">



    </div>
    <div class="homepage-body-conatiner-button">
      <p id="get-started">Get Started!</p>
    </div>
    <form class="sesh_form" action="/session" method="post"></form>
  </div>
</div>
{% endblock %}
